includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 8
    paths:
        - src
    doctrine:
        objectManagerLoader: tests/object-manager.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
